<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humandroid.android_ipc">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MathService"
            android:process=":remote">
            <intent-filter>
                <action android:name="mathservice.humandroid" />
            </intent-filter>
        </service>
        <service
            android:name=".MathMessengerService"
            android:process=":mathproc">
            <intent-filter>
                <action android:name="math.messengerservice.humandroid" />
            </intent-filter>
        </service>

        <activity android:name="com.humandroid.android_ipc.MathOperationsActivity"
            android:label="Android IPC Intent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.calculate_with_UI"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <receiver android:name=".MathOperationsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.calculate_without_UI" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
